@import "tailwindcss";

:root {
  --black: #000;
  --yellow: #FADB00;
  --yellow2: #FFCE00;
  --red: #FF4122;
  --gray: #EEE;
  --blue: #2173D2;
  --light-blue: #2D9BDB;
  --orange: #EC6A32;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container { 
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}

@media(max-width: 767px) {
  .container { 
    padding: 0 12px;
  }
}